<!DOCTYPE html>
<html>
<head>
    <script src="/templates/js/unpkg.com_konva@9.2.0_konva.min.js"></script>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
    <title>远程控制</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
            overflow: hidden;
        }

        #container canvas {
            background-color: black;
        }
    </style>
</head>
<body>
<div id="container"></div>
<script>
    function cmd(c, data = {data: ""}) {
        if (!conn) {
            console.error("lost connect...")
            return;
        }
        conn.send(JSON.stringify({
            cmd: c,
            data: data
        }))
    }
</script>
<script>
    let conn;
    const width = window.innerWidth;
    const height = window.innerHeight;
    const keyBroadStart = 600;
    let showScreen = false;
    let screenWith = 0;
    let screenHeight = 0;
    let screenRateX = 0;
    let screenRateY = 0;
    let screenSpan = 10;

    function calcX(x) {
        return x * screenRateX
    }

    function calcY(y) {
        return y * screenRateY
    }

    function calcSpan(n) {
        if (n > 0) {
            return n - span
        }

        if (n < 0) {
            return n + span
        }
        return n;
    }


    const stage = new Konva.Stage({
        container: 'container',
        width: width,
        height: height,
    });


    // touchPadLayer start
    const touchPadLayer = new Konva.Layer();
    const touchPad = new Konva.Rect({
        x: 0,
        y: 0,
        width: width,
        height: keyBroadStart - 10,
        id: 'touchPad',
        fill: '#cccccc',
        shadowBlur: 10,
        cornerRadius: 10,
    });


    // 监听触摸开始事件
    let touchStartTime = 0;
    let touchStartX = 0;
    let touchStartY = 0;
    touchPadLayer.on('touchstart', function () {
        // 记录触摸开始的时间和位置
        touchStartTime = new Date().getTime();
        const touchPos = stage.getPointerPosition();
        touchStartX = touchPos.x;
        touchStartY = touchPos.y;
    });

    // 监听触摸结束事件
    touchPadLayer.on('touchend', function () {
        // 计算触摸持续时间和移动距离
        const touchEndTime = new Date().getTime();
        const touchPos = stage.getPointerPosition();
        const touchEndX = touchPos.x;
        const touchEndY = touchPos.y;
        const touchDuration = touchEndTime - touchStartTime;
        const touchDistance = Math.sqrt(Math.pow(touchEndX - touchStartX, 2) + Math.pow(touchEndY - touchStartY, 2));

        // 判断是单击还是双击
        if (touchDuration < 300 && touchDistance < 10) {
            // 单击事件
            console.log('Single tap detected');
            cmd("click");
        } else if (touchDuration < 500 && touchDistance < 10) {
            // 双击事件
            console.log('Double tap detected');
        }
    });

    touchPadLayer.on('touchmove', function () {
        const touchPos = stage.getPointerPosition();
        let x = touchPos.x;
        let y = touchPos.y;
        console.info('x: ' + x + ', y: ' + y);
        const offsetX = calcSpan(calcX(x) - calcX(touchStartX))
        const offsetY = calcSpan(calcY(y) - calcY(touchStartY))
        console.info('offsetX: ' + offsetX + ', offsetY: ' + offsetY);
        cmd("move", {x: x, y: y})
    });
    touchPadLayer.add(touchPad)
    // touchPadLayer end


    // moniterLayer start
    let moniter;
    const moniterLayer = new Konva.Layer();
    moniterLayer.hide()

    function newMoniter() {
        const video = document.createElement('video');
        video.src =
            'https://upload.wikimedia.org/wikipedia/commons/transcoded/c/c4/Physicsworks.ogv/Physicsworks.ogv.240p.vp9.webm';

        const image = new Konva.Image({
            image: video,
            draggable: true,
            x: 0,
            y: 0,
            width: width,
            height: keyBroadStart - 10,
        });
        video.addEventListener('loadedmetadata', function (e) {
            image.width(video.videoWidth);
            image.height(video.videoHeight);
        });
        video.addEventListener('timeupdate', function (e) {
            moniterLayer.draw()
        });
        video.play();
        moniterLayer.add(image);
    }

    function destroyMoniter() {
        moniterLayer.destroyChildren();
    }

    // touchPadLayer end


    // keyBroadLayer start
    let tween = null;
    const keyBroadLayer = new Konva.Layer();

    const windowWidth = width;
    const span = 5;
    const w = 60;
    const h = 60;
    const x = (windowWidth / 2) - (w / 2);
    const y = keyBroadStart;
    const y2 = y + h + span;


    function createButton(_x, _y, _w, _h, t, id, tSize = 30) {
        const buttonContainer = new Konva.Group({
            x: 0,
            y: 0,
        });
        const button = rectangle(_x, _y, _w, _h, id);
        buttonContainer.add(button);

        let _tx = _x + (_w / 2);
        let _ty = _y
        switch (id) {
            case 'up':
                _tx -= 7
                _ty += 10
                break
            case 'left':
                _tx -= 15
                _ty += 11
                break
            case 'down':
                _tx -= 7
                _ty += 11
                break
            case 'right':
                _tx -= 15
                _ty += 11
                break
            case 'screen':
                _tx -= 17
                _ty += 20
                break
        }
        const title = text(t, _tx, _ty, tSize, id)
        buttonContainer.add(title)
        keyBroadLayer.add(buttonContainer)

        buttonContainer.on('mousedown touchstart', function (e) {
            const name = e.target.attrs.name
            console.error(name)
            if (name === 'screen') {
                showScreen = !!!showScreen
                if (showScreen) {
                    // newMoniter()
                    // moniterLayer.show()
                    touchPadLayer.hide()
                    cmd("screen")
                    title.setText('触控')
                } else {
                    // destroyMoniter()
                    // moniterLayer.hide()
                    touchPadLayer.show()
                    cmd("close")
                    title.setText('屏幕1')
                }
            } else {
                cmd(name)
            }
            // 缩放按钮
            var tweenScale = new Konva.Tween({
                node: button,
                scaleX: 1.1,
                scaleY: 1.1,
                duration: 0.1
            });
            tweenScale.play();

            // 变色
            var tweenColor = new Konva.Tween({
                node: title,
                scaleX: 1.1,
                scaleY: 1.1,
                fill: '#fadc03',
                duration: 0.1
            });
            tweenColor.play();
        });

        buttonContainer.on('mouseup touchend', function (e) {
            // 恢复按钮大小
            var tweenScale = new Konva.Tween({
                node: button,
                scaleX: 1,
                scaleY: 1,
                duration: 0.1
            });
            tweenScale.play();

            // 恢复文本颜色
            var tweenColor = new Konva.Tween({
                node: title,
                scaleX: 1,
                scaleY: 1,
                fill: '#ffffff',
                duration: 0.1
            });
            tweenColor.play();
        });
    }


    function rectangle(x, y, w, h, id) {
        return new Konva.Rect({
            x: x,
            y: y,
            width: w,
            height: h,
            id: id,
            name: id,
            fill: '#000000',
            shadowBlur: 10,
            cornerRadius: 10,
        });
    }

    function text(t, x, y, size = 30, name = '') {
        return new Konva.Text({
            x: x,
            y: y,
            text: t,
            name: name,
            fontSize: size,
            fontFamily: '30pt Calibri',
            fill: '#ffffff',
            align: 'center',
        });
    }


    function drawKey() {
        createButton(x, y, w, h, '↑', 'up')
        createButton(x - w - span, y2, w, h, '←', 'left')
        createButton(x, y2, w, h, '↓', 'down')
        createButton(x + w + span, y2, w, h, '→', 'right')
        createButton(x - (2 * w) - (2 * span), y2, w, h, '屏幕', 'screen', 18)
    }

    drawKey();
    // keyBroadLayer end
    stage.add(touchPadLayer, moniterLayer, keyBroadLayer);
</script>
<script type="text/javascript">

    let timer;

    function connect() {
        conn = new WebSocket("ws://" + document.location.host + "/ws");
        conn.onmessage = function (evt) {
            let messages = evt.data.split('\n');
            for (let i = 0; i < messages.length; i++) {
                if (messages[0]) {
                    try {
                        const msg = JSON.parse(messages[0])
                        if (msg.cmd === 'screen') {
                            screenWith = msg.data.Width
                            screenHeight = msg.data.Height
                            const cW = width
                            const cH = keyBroadStart - 10
                            screenRateX = screenWith / cW
                            screenRateY = screenHeight / cH
                            console.log(screenWith, screenHeight, screenRateX, screenRateY);
                        }
                    } catch (e) {
                    }
                }
                console.log(messages[i]);
            }
        };
        conn.onclose = function (evt) {
            console.log('onclose');
            timer = null;
            // 延迟一段时间后重新连接
            // setTimeout(function () {
            //     connect()
            // }, 5000); // 5秒后重新连接
        };
        conn.onopen = function (evt) {
            cmd("init", {width: width, height: keyBroadStart - 10})
            timer = setInterval(function () {
                cmd("ping");
            }, 5000)
        }
    }

    window.onload = function () {
        if (window["WebSocket"]) {
            connect()
        } else {
            console.error("<b>Your browser does not support WebSockets.</b>")
        }
    };
</script>
</body>
</html>